dialog {
  position: absolute;
  left: 0; right: 0;
  width: 400px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 24px 24px 0;
  background: #fff;
  display: none;
  text-align: left;
  box-shadow: 0 1px 4px 0 rgba(188, 181, 185, 0.5);
  box-shadow: 0 1px 4px 0 var(--warm-gray-50pc);
}

dialog[open] {
  display: block;
}

dialog::backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(87, 71, 81, 0.7);
  /*background: var(--maroon-70pc);*/
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(87, 71, 81, 0.7);
  background: var(--maroon-70pc);
}

/* for small devices, modal dialogs go full-screen */
@media screen and (max-width: 540px) {
  dialog[_polyfill_modal] {  /* TODO: implement */
    top: 0;
    width: auto;
    margin: 1em;
  }
}

._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

dialog .icon:empty,
dialog .title:empty,
dialog form button:empty,
dialog .message:empty,
dialog .iconContainer:empty {
  display: none;
}

dialog .iconContainer {
  height: 36px;
  display: flex;
  margin: 0 0 24px 0;
}

dialog .iconContainer img {
  margin: 0 auto;
  width: auto;
  height: auto;
}

dialog .title {
  font-size: 20px;
  font-weight: 500;
  color: #574751;
  color: var(--maroon);
}

dialog .message {
  font-size: 16px;
  color: #574751;
  color: var(--maroon);
}

dialog .title:not(:empty) + .message {
  color: #bcb5b9;
  color: var(--warm-gray);
  margin: 24px 0 0 0;
}

dialog .inputDialogContainer .title + .message {
  margin: 0;
}

.buttonContainer {
  height: 52px;
  margin-top: 24px;

  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

dialog form button {
  min-width: 72px;
  width: auto;
  height: 36px;
  padding: 9px 8px 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

dialog form button:hover {
  box-shadow: 0 2px 6px 0 rgba(87, 71, 81, 0.2);
  box-shadow: 0 2px 6px 0 var(--maroon-20pc);
}

dialog form button.done {
  color: #419bf9;
  color: var(--cornflower-blue);
  margin: 0 0 0 8px;
}

dialog form button.cancel {
  color: #bcb5b9;
  color: var(--warm-gray);
}

dialog span {
  width: 63px;
  height: 19px;
  font-size: 14px;
  color: #fecf33;
  color: var(--yellow);
}
dialog input {
  width: 100%;

  border-bottom: 1px solid #fecf33;
  border-bottom: 1px solid var(--yellow);
  padding-bottom: 10px;

  font-size: 16px;
  color: #574751;
  color: var(--maroon);
}

dialog .inputContainer {
  margin: 16px 0 0 0;
}